<div class="budget-section" id="budgetsection">
  <div class="budget col col-md col-sm" id="div1">
    <h2>Budget</h2>
    <img src="assets\Images\money-bag-svgrepo-com.svg" width="40" alt="" />
    <p class="amount" id="budget-Amount">$ <span id="budgetAmount">0</span></p>
  </div>
  <div class="expenses col col-md col-sm" id="div2">
    <h2>Expenses</h2>
    <img src="assets\Images\calculator-svgrepo-com.svg" width="40" alt="" />
    <p class="exp-amount" id="exp-Amount">$ <span id="expensesAmount">0</span></p>
  </div>
  <div class="balance col col-md col-sm" id="div3">
    <h2>Balance</h2>
    <img src="assets\Images\scale-svgrepo-com.svg" width="40" alt="" />
    <p class="amount bala" id="bala-Amount" >$ <span id="balanceAmount">0</span></p>
  </div>
</div>